<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.10.7, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.10.7, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <title>Home</title>
    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/gallery/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="/assets/custoncss/custom.css" type="text/css">

    <style>
    .cid-rYUFyUvBtD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rYUFyUvBtD .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-rYUFyUvBtD .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rYUFyUvBtD .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #efefef;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-rYUFyUvBtD .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-rYUFyUvBtD .cards-block {
    border-top: 2px solid #efefef;
  }
}
.cid-rYUFyUvBtD .cards-block .card {
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.cid-rYUFyUvBtD .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rYUFyUvBtD .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rYUFyUvBtD .media-block {
    padding-left: 2rem;
  }
}
.cid-rYUFyUvBtD .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rYUFyUvBtD .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rYUFyUvBtD .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


.cid-rYUFZRUbDM .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .cid-rYUFZRUbDM .mbr-figure {
    padding-right: 4rem;
  }
}

.cid-rYUFZRUbDM .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.trash {
   position: absolute; 
   top: 8px; 
   right: 16px;
}

form label {
    padding-right: 1rem;
}

    </style>


</head>

<body>
    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">

    

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                             <img src="/assets/images/logo.png" alt="Mobirise" title="" style="height: 4.5rem;">
                        </a>
                    </span>
                    
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="#servicios">
                            <span class="mbri-hot-cup mbr-iconfont mbr-iconfont-btn"></span>
                            Servicios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="https://mobirise.com">
                            <span class="mbri-image-gallery mbr-iconfont mbr-iconfont-btn"></span>
                            Diseños
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="#form1-8">
                            <span class="mbri-letter mbr-iconfont mbr-iconfont-btn"></span>
                            Contactanos
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

  

<section class="counters4 counters cid-rYUFyUvBtD visible pb-2" id="counters4-y">
    <div class="container pt-4 mt-2">
        {% block body %}

            <div class="row">
                <div class="title col-12 col-md-4 align-right">
                    <a href="{{ path('admin_galeria', {'id':foto_galerium.idGaleria } ) }}" class="btn btn-outline-primary btn-sm btn-block m-1 ">Volver</a>
                </div>
            </div>
            <div class="row">
                <div class="title col-12 col-md-8">
                    <h2 class="display-2"> Nueva Foto </h2>
                </div>
            </div>
             <div class="row">
                <div class="title col-12 col-md-8">
                     {{ include('foto_galeria/_form.html.twig') }}
                </div>
               
            </div>
        {% endblock %}
    </div>
</section>

    <section class="cid-qTkAaeaxX5" id="footer1-2">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="/">
                            <img src="/assets/images/logo.png" alt="Mobirise" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Direccion</h5>
                    <p class="mbr-text">Ana Gurmendi 1234<br>Funes, 2132</p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacto</h5>
                    <p class="mbr-text">
                        Email: support@gmail.com
                        <br>Cel: +54 (341) 5559998 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;<br><br></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text">Face<br>Instagram<br>Cualquier Pagina</p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2017 Mobirise - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                    <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.behance.net/Mobirise" target="_blank">
                                    <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
