
<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.10.7, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.10.7, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <title>Home</title>
    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/gallery/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="/assets/custoncss/custom.css" type="text/css">

    <style>
    .cid-rYUFyUvBtD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rYUFyUvBtD .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-rYUFyUvBtD .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rYUFyUvBtD .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #efefef;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-rYUFyUvBtD .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-rYUFyUvBtD .cards-block {
    border-top: 2px solid #efefef;
  }
}
.cid-rYUFyUvBtD .cards-block .card {
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.cid-rYUFyUvBtD .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rYUFyUvBtD .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rYUFyUvBtD .media-block {
    padding-left: 2rem;
  }
}
.cid-rYUFyUvBtD .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rYUFyUvBtD .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rYUFyUvBtD .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}


.cid-rYUFZRUbDM .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .cid-rYUFZRUbDM .mbr-figure {
    padding-right: 4rem;
  }
}

.cid-rYUFZRUbDM .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.trash {
   position: absolute; 
   top: 8px; 
   right: 16px;
}

form label {
    padding-right: 1rem;
}

    </style>


</head>

<body>

{{ include('menuAdmin.html.twig') }}
  

<section class="counters4 counters cid-rYUFyUvBtD visible pb-2" id="counters4-y">
    <div class="container pt-4 mt-2">
        {% block body %}
            <div class="row">
                <div class="title col-12 col-md-4 align-right">
                    <a href="{{ path('admin') }}" class="btn btn-outline-primary btn-sm btn-block m-1 ">Volver</a>
                </div>
            </div>
            <div class="row">
                <div class="title col-12 col-md-8">
                    <h2 class="display-2"> Crear Album </h2>
                </div>
               
            </div>
            <div class="row">
                <div class="title col-12 col-md-8">
                     {{ include('galery/_form.html.twig') }}
                </div>
               
            </div>
        {% endblock %}
    </div>
</section>

{{ include('footerAdmin.html.twig') }}

    <script src="/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
